# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
.pytest_cache/

# Django
media/
staticfiles/

# Node
node_modules/
dist/
*.tsbuildinfo

# Environment
.env
*.env

# OS/Editor
.DS_Store
.vscode/
